@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Kosugi+Maru&family=Press+Start+2P&display=swap');

body {
	height: 100%;
	padding: 50px;
	display: grid;
	grid-template-rows: 15% 80% 10%;
	background-color: #EEEEEE;
	color: #11698E;
}


header{
	display: grid;
	justify-content: center; 
	/* font-family: 'Press Start 2P', cursive; */
	font-family: 'Bungee', cursive;
	font-size:1.5rem;
}

header > h3 {
	margin-bottom: 350px;
	
}
	

.main {
	display: grid;
	grid-template-rows: 30% 50% 50%;
}
.info-content {
	/* flex-direction: column;
	align-items: center; */
	/* background-color: #6B011F; */
	display:grid;
	grid-template-columns: 15% 70%;
	align-items: center;
	font-family: 'Kosugi Maru', sans-serif;

}

.topic {
	/* flex-direction: column;
	align-items: center; */
	display: grid;
	justify-content: center;

}

#current-topic {
	font-size: 2rem;
	background-color: #E11D74;
	padding: 40px;
	color:white;
	border-radius: 50%;
	text-align: center;
}

.question {
	font-family: 'Bungee', cursive;
	font-size: 1.5rem;
	font: center;
	
}

.current-question {
	display: grid;
	grid-template-rows: 20% 50%;
	/* background-color: #512D6D; */
	font-family: 'Kosugi Maru', sans-serif;
}

.questions {

	height:max-content;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	justify-items: center;
	padding: 50px;
	background-color: #F5A962;
	font-family: 'Kosugi Maru', sans-serif;
	/* flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center; */
	/* order: 2; */
}

.current-question {
	text-align: center;
	/* margin: 50px; */
	/* order: 1; */
	align-items: center;
}

.answer-choice {
	font-family: 'Kosugi Maru', sans-serif;
	background-color: #00c1d4;
	color: white;
	padding: 16px;
	font-size: 20px;
	width: 400px;
	border-color:white;
	border-radius: 20px;
	margin-top: 10px;
}



.flash-green {
	background-color: #91D18B;
}

.flash-red {
	background-color: #ff4848;
}


#options,
.start {
	border-radius: 50%;
	/* padding: 10px 10px; */
	height: 50px;
	width: 100px;
	margin: 0px 30px;
	/* border: none; */
	border-color:white;
	outline: none;
	background-color: #FFE459;
	color: #11052C;
}

#options {
	background-color: #F14668;
	width: 70px;

}

#question {
	font-size: 1.5rem;
}

#next {
	/* order:5; */
	/* width: 100px; */
	justify-content: center;
	margin-right: 50px;
}

/* Modal */
#start-modal {
	display: block;
}

#end {
	display: none;
}

.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

.modal-content {
	font-family: 'Kosugi Maru', sans-serif;
	text-align: center;
	background-color: #512D6D;
	border-style: solid 5px black;
	height: 450px;
	width: 450px;
	border-radius: 20%;
	margin: 300px auto;
	padding: 20px;
	line-height: 1.5;
	color: #EEEEEE;
}

.modal-textbook > p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#modal-buttons {
	font-family: 'Kosugi Maru', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

#final-score {
	display: none;
}

.drop-btn {
	background-color: #d11171;
	font-family: 'Kosugi Maru', sans-serif;
	color: white;
	padding: 16px;
	font-size: 16px;
	/* border: none; */
	border-color:white;
	width: 300px;
	border-radius: 20px;
}

.quiz-categories {
	position: relative;
	display: inline-block;
	margin: 20px;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: rgb(250, 250, 250);
	width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	overflow-x: scroll;
}

/* Change color of dropdown links on hover */
.dropdown p:hover {
	background-color: rgb(243, 205, 224);
}

/* Show the dropdown menu on hover */
.quiz-categories:hover .dropdown {
	display: block;
	width: 300px;
	height: 200px;
	overflow-y: scroll;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.quiz-categories:hover .drop-btn {
	background-color: #3d062b;
}

.hidden {
	display: none;
}

#return:hover, #main:hover {
	background-color: rgb(99, 99, 212);
}


/* @media (min-width:600px){
	body {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
} */