@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Kosugi+Maru&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
	margin: 0 auto;
	display: grid;
	grid-template-rows: 15% 80% 10%;
	background-color: #eeeeee;
	color: #11698e;
	background-image: url('../assets/bg-white-qs.jpg');
	background-size: cover;
}

/* Header */

header {
	display: flex;
	justify-content: center;
	height: 100%;
	margin-bottom: 20px;
	background-color: #f43b86;
	width: 100%;
}
header > h1 {
	font-family: 'Bungee', cursive;
	color: white;
	font-size: 75px;
	margin-bottom: 20px;
	margin-top: 20px;
}

h1 > span {
	border-radius: 50%;
	padding: 15px;
}

#T {
	background-color: rgb(99, 99, 212);
}

#R,
#A {
	background-color: #3db2ff;
}

#I {
	background-color: #ffe459;
}

#V {
	background-color: #80ed99;
}

#i {
	background-color: #ff2442;
}

/* Main Content */

.main {
	display: grid;
	grid-template-rows: 30% 30% 20%;
}
.info-content {
	display: block;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Kosugi Maru', sans-serif;
}

/* Current Topic */
.topic {
	display: grid;
	justify-content: center;
}

#current-topic {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	background-color: #00c1d4;
	padding: 40px;
	color: white;
	border-radius: 50%;
	text-align: center;
	box-shadow: 5px 10px #888888;
}

/* Question Display */

.question, #timer {
	font-family: 'Bungee', cursive;
	font-size: 3rem;
	z-index: 1;
	position: relative;
	color: #f43b86;
	margin-bottom: 120px;
}

#question {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.current-question {
	display: grid;
	grid-template-rows: 20% 80%;
	margin: 0 auto;
	font-family: 'Kosugi Maru', sans-serif;
	text-align: center;
	align-items: center;
	background-color: #00c1d4;
	color: white;
	height: 70%;
	width: 70%;
	padding: 20px;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 5px 10px #888888;
}

/* timer */

#timer {
	padding: 20px;
	color: #00c1d4;
	margin: 0 auto;
}

/* Answer Display */

.questions {
	height: max-content;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	justify-items: center;
	padding: 30px;
	font-family: 'Kosugi Maru', sans-serif;
}

.answer-choice {
	font-family: 'Kosugi Maru', sans-serif;
	background-color: #ffe459;
	font-size: 1.5rem;
	color: black;
	padding: 16px;
	font-size: 20px;
	width: 400px;
	height: 85%;
	border-color: white;
	border-radius: 20px;
	margin: 10px 10px;
	box-shadow: 2px 4px #888888;
	margin-top: 2px;
}

/* Buttons */

#options,
.start,
#high-scores {
	border-radius: 50%;
	height: 50px;
	width: 100px;
	margin: 0px 30px;
	border-color: white;
	outline: none;
	background-color: #ffe459;
	color: #11052c;
}

#options,
#high-scores {
	background-color: #f43b86;
	margin: 0 auto;
	border-radius: 20px;
	color: #eeee;
}

.options-button {
	margin: 0 auto;
}

#question {
	font-size: 1.5rem;
}

#next {
	justify-content: center;
	margin-right: 50px;
}

.flash-green {
	background-color: #91d18b;
	color: white;
}

.flash-red {
	background-color: #ff4848;
	color: white;
}

/* Modal */
#start-modal {
	display: block;
}

#end,
#score-modal {
	display: none;
}

.modal {
	background-color: rgba(0, 0, 0, 0.85);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

.modal-content {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: #00c1d4;
	height: 550px;
	width: 550px;
	border-radius: 20%;
	margin: 300px auto;
	padding: 20px;
	line-height: 1.5;
	font-size: 20px;
	border: 3px solid #086c75;
}

.modal-textbook > h2 {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.modal-textbook > p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
}

#modal-buttons {
	font-family: 'Kosugi Maru', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

#final-score {
	display: none;
}

.drop-btn {
	background-color: #d11171;
	font-family: 'Kosugi Maru', sans-serif;
	color: white;
	padding: 16px;
	font-size: 16px;
	border-color: white;
	width: 300px;
	border-radius: 20px;
}

.quiz-categories {
	position: relative;
	display: inline-block;
	margin: 20px;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: rgb(250, 250, 250);
	width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	overflow-x: scroll;
}

.dropdown p:hover {
	background-color: rgb(238, 138, 188);
}

.quiz-categories:hover .dropdown {
	display: block;
	width: 300px;
	height: 200px;
	overflow-y: scroll;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.quiz-categories:hover .drop-btn {
	background-color: #3d062b;
}

.hidden {
	display: none;
}

#return:hover,
#main:hover,
#options:hover,
#high-scores:hover {
	background-color: rgb(99, 99, 212);
	color: white;
}

/* Table and Score Modal */
table {
	width: 100%;
	padding: 40px;
}

#score-modal > .modal-content {
	padding: 20px;
	display: grid;
	align-content: space-between;
	color: white;
}

#close-button {
	display: flex;
	justify-content: center;
}

/* Footer */

footer {
	display: block;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
}

footer,
p > a {
	color: rgb(187, 183, 183);
}

@media (max-width: 800px) {
	/* Main Content */
	body {
		margin: 0 auto;
	}

	header {
		height: 70%;
	}

	.main {
		display: block;
		justify-content: center;
	}

	.info-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		flex-grow: 1;
	}

	#options,
	#high-scores {
		border-radius: 10%;
		font-size: 20px;
		color: #eeee;
		width: 30%;
		justify-self: center;
	}

	.options-button {
		display: flex;
		justify-content: center;
	}

	#current-topic {
		margin-bottom: 80px;
	}

	/* Questions */

	.current-question {
		height: 20%;
		margin-bottom: 30px;
	}

	#question {
		font-size: 2rem;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		margin: 0 auto;
	}

	/* Answer Choices */

	.questions {
		display: flex;
		flex-direction: column;
		font-family: 'Kosugi Maru', sans-serif;
		padding: 20px;
		margin: 0px;
		width: 100%;
		height: 40%;
	}

	.answer-choice {
		padding: 5px;
		font-size: 40px;
		height: 50px;
		border-color: white;
		border-radius: 20px;
		margin-top: 2px;
		width: 90%;
		height: 50%;
	}

	/* Modal */

	.modal-content {
		width: 85%;
		height: 90%;
		border-radius: 10%;
		margin: 300px auto;
		padding: 20px;
		line-height: 1.5;
		color: #eeeeee;
	}
}

@media (max-width: 560px) {
	h1 > span {
		font-size: 1rem;
	}
}
